.footer {
  width: 100%;
}
.footer__margin {
  margin-top: 30px !important;
}
@media screen and (min-width: 992px) {
  .footer__margin {
    margin-top: 70px !important;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.footer__contacts-block {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__contacts-block {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-card {
  background: #0a2240;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-size: 13px;
  line-height: 23px;
}

@media (min-width: 576px) {
  .footer-card {
    font-size: calc(0.44643vw + 10.42857px);
  }
}

@media (min-width: 1024px) {
  .footer-card {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .footer-card {
    line-height: calc(0.44643vw + 20.42857px);
  }
}

@media (min-width: 1024px) {
  .footer-card {
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-card {
    position: relative;
    z-index: 1;
  }
}

.footer-card__block {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-card__block {
    position: relative;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
  }
}

.footer-card__content {
  padding: 30px 0;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (min-width: 768px) {
  .footer-card__content {
    width: 100%;
    float: left;
    padding: 30px 0;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media screen and (min-width: 1200px) {
  .footer-card__content {
    padding: 30px 0;
  }
}

.footer-card__disclaimer {
  color: #fff;
  font-family: bentonsans-light-webfont;
}

.footer-card__footer-block {
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.footer-card__footer-block:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.footer-card__links-block {
  margin: 15px 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .footer-card__links-block {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-card__links-block {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}

.footer-card__link-list {
  list-style: none;
  margin: 10px 0;
}

.footer-card__link-list:before {
  border: none;
}

@media screen and (min-width: 480px) {
  .footer-card__link-list {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-card__link-list {
    margin: 0 30px 0 0;
  }
}

.footer-card__link {
  text-decoration: none;
  color: #fff;
  font-family: bentonsans-light-webfont;
}

.footer-card__link:hover {
  color: #fff;
  text-decoration: none;
}

.footer-card__logo {
  background: #0033a1;
  position: relative;
  height: 95px;
  padding-left: 80px;
  width: 100%;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.footer-card__logo img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .footer-card__logo {
    height: inherit;
    position: relative;
    padding-left: 30px;
    width: 33%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-card__logo img {
    position: inherit;
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-card__logo {
    width: 25%;
    padding-left: 80px;
  }
}

.footer-card__social-block {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer-card__social-block {
    position: relative;
    top: 0;
    transform: translateY(75%);
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

.footer-card__social-list {
  list-style: none;
  margin: 0;
  padding: 7px 0;
}

.footer-card__social-list:before {
  border: none;
}

.footer-card__social-list a {
  padding: 10px;
}

.footer-card__left {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

@media screen and (min-width: 768px) {
  .footer-card__left {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.footer-card__right {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (min-width: 768px) {
  .footer-card__right {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}