.THIS {
    padding: 164px 0;
    margin-top: -40px; 
    background-image: url('/sfsites/c/resource/OSB_BackgroundImage');
    background-position: bottom;
    background-size: cover;
}

.THIS .blurb{
    margin-left: 13px;
    width: 98%;
}

.THIS .generic-error{
    min-height: 500px;
}

.THIS .newCase__form {
    display: flex;
    flex-direction: column;
}

.THIS .signUp {
    background: #fff;
    padding-top:40px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 6px 25px 0 rgba(0,0,0,0.1);
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

@media(min-width:1280px){
    .THIS .signUp {
        width: 50%;
        margin: 20px auto;
    }
}

.THIS .my-error-class {
    border-color:#FF0000;  /* red */
}

.THIS .CellSection{
    margin: 0!important;
    height: 20px;
    margin-top: -4px;
}

.THIS .newCase__form--input.phoneNumberInput{
    margin-left: 16px;
    width: 70%;    
}

.THIS .inputForm-sec{
    align-self:left;
}

.THIS .newCase__form--input input {
    height: 40px;
    min-width: 414px;
    border-radius: unset;
}

.THIS .newCase__form--dialingCode{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 4px;
    padding-left: 15px;
    margin-right: 15px;
    max-width: 150px;
    flex-grow: 3;
}

.THIS .newCase__form--input{
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.THIS .newCase__form--input	.slds-input_height{
   width:75px;
}

.THIS .newCase__form--label--span{
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    position: absolute;
	margin-top: 20px;
}

.THIS .signUp__value{
    color: #222222;
    font-family: BentonSans;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}

.THIS .signUp__title {
    color: #222222;
    font-family: BentonSans;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.83px;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.THIS .docType{
    padding-top: 32px;
    display:inline-block;
}

.THIS .phoneFont{
   color: #767676 !important;
    font-family: BentonSans !important;
    font-size: 13px !important;
    font-weight: 300 !important; 
    flex-grow: 9;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important; 
    
}

.THIS .customRadioCls{
    color: #4A4A4A;
    font-family: BentonSans;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    max-width: 300px;
}

.THIS .cOSBMultiSelect,
.THIS .signUp__form--input {
    font-size: 15px;
    font-weight: 300;
    color: #222222;
    padding-left: 15px;
    padding-bottom: 8px;
    width: 100%;
}

.THIS .signUp__form--input input {
    height: 40px;
    width: 100%;  
}

.THIS .signUp__form--textarea {
    height: 144px;
}

.THIS .signUp__form--label_code,
.THIS .signUp__form--input label {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 300;	
    line-height: 18px;
    margin-bottom: -16px;
    align-self: center;
}

.THIS .cellphone-Input{
    min-width: 60px;
}

.THIS .signUp__form--label_code {
    display: block;
    margin-left: 30px;
}

@media(max-width:650px){
    .THIS .signUp__form--label_code {
        width: 90% !important;
    }    
}

.THIS .signUp__form__industry-placeholder,
.THIS .signUp__form--input_phone input::placeholder,
.THIS .signUp__form--input input::placeholder,
.THIS .signUp__form--input textArea::placeholder{
    color: rgb(118, 118, 118);
    font-weight: 200;
}

.THIS .signUp__form--input_code {
    height: 48px;
    width: 25%;
    padding: 0 1rem 0 .75rem;
    font-weight: 300;
    margin-right: 1%;
    font-family: BentonSans;
    font-size: 15px;
    color: #222222;
}

.THIS .signUp_greyAreaBtn{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    height: 80px;
}

.THIS .signUp__button.btn--gray {
    background-color: #ededed;
    color: #0033AA;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}

.THIS .slds-col{
    margin-right:4px;
}

.THIS .rectangle {
    height: 40px;
    background-color: #f6f6f6;
    align-self: center;
}

@media(max-width: 650px){
    .THIS .rectangle {
        width: 90% !important;
    }
}

.THIS .lets_get_started{
    height: 13px;
    color: #222222;
    font-family: BentonSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.58px;
    padding-top: 10px; 
    margin-left: 24px;
}

.THIS .signUp--optl .signUp__title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.83px;
    line-height: 24px;
}

.THIS abbr.slds-required {
    display: none;
}

.THIS .link.signUp__link {
    margin-top: 24px;
    align-self: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.THIS .signUp__subLabel {
    align-self: center;
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    padding: 0 15px 0 15px;
}

@media(max-width: 650px){
    .THIS .signUp__subLabel {
        width: 90% !important;
    }
}

.THIS .slds-select {
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.THIS .signUp__form--tnc {
    color: #0089FF;
    text-decoration: underline;
}

.THIS .signUp__passwordContainer {
    position: relative;
}

.THIS .confirmPassword{
    Padding-top:24px;
}

.THIS .signUp__togglePassword_Confirm {
    position: absolute;
    right: 216px;
    top: 61px;
    font-size: 24px;
    color: #0033A1;
    cursor: pointer;
}

.THIS .signUp__togglePassword_Password {
    position: absolute;
    top: 37px;
    font-size: 24px;
    color: #0033A1;
    cursor: pointer;
}

.THIS .toggleable_icon_position{
    right: 40px;
}

@media(min-width:651px){
    .THIS .toggleable_icon_position {
        right: 30px;
    }
}

.THIS .signUp__industryIcon {
    top: 44px;
    right: 40px;
}

@media(min-width:651px){
    .THIS .signUp__industryIcon {
        right: 30px;
    }
}

.THIS .signUp__codeIcon,
.THIS .signUp__dialingCode {
    position: relative;
    font-size: 20px;
    color: #CCCCCC;
}

.THIS .signUp__dialingCode {
    top: 35px;
    right: 10px;
    z-index: 100;
    pointer-events: none;
    position: absolute;
}

.THIS .signUp__codeIcon {
    top: 16px;
    right: 8px;
}

.THIS .signUp__form--ID_number{
    height: 18px;
    width: 600px;
    color: #666666;
    font-family: BentonSans;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin-top: -14px;
    margin-bottom: 20px;
}

.THIS .signUp__form--input--phone{
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 300;
    color: #222222;
    
    padding-right: 200px;
}

.THIS .signUp__label{
    color: #767676;
    font-family: BentonSans;
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    line-height: inherit;
    align-self: center;
}

@media(max-width: 650px){
    .THIS .signUp__label {
        width: 90% !important;
    }
}

.THIS .Sign__icon {
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    background: #0033AA;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 24px;
}

.THIS .Sign__icon i {
    font-size: 48px;
    color: #fff;
    
}

.THIS .signUp__form {
    display: flex;
    flex-direction: column;
}

.THIS .slds-form-element__control{
    padding-top: 8px;
    padding-right: 15px;
}

.THIS .cOSBMultiSelect .slds-form-element__control {
    padding-right: unset;
}

.THIS .InputSection{
    align-self:center;
    display: flex;
    flex-direction: column;

}

@media(max-width: 650px){
    .THIS .InputSection {
        width: 90% !important;
    }
}

.THIS .customRadioGroup{
    display:flex;
    flex-direction:row;
}

.THIS .format{
    color: #666666;
    font-family: BentonSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px; 
    text-align: center;
    align-self: center;
}

@media(max-width:650px){
    .THIS .format{
        width: 90%;
    }
}

.THIS .signUp__form--input input,
.THIS .signUp__form--input textArea {
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.THIS .signUp__form--input textArea {
    height: 120px;
}

.THIS  .btnStyle {
    display: block;
    height: 36px;
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 13px;
    text-transform: uppercase;
    text-align: center;
    transition: all .15s ease-in;
    cursor: pointer;
}

.THIS .signUp__form--input__phone label,
.THIS .signUp__form--input_phone ::before,
.THIS .signUp__form--input_phone ::after {
    display: none;
}

.THIS .signUp__form--input_phone {
    width: 74%;
    height: 48px;
    padding: 0 1rem 0 .75rem;
}

.THIS .signUp__form--input_code {
    height: 48px;
    width: 25%;
    padding: 0 1rem 0 .75rem;
    font-weight: 300;
    margin-right: 1%;
    font-family: BentonSans;
    font-size: 15px;
    color: #222222;
}

.THIS .signUp_greyArea{
    background-color: #F6F6F6;
    padding: 22px 0px;
    display: flex;
    justify-content: center;
    height: 80px;
}

.THIS .signUp__button {
    width: 100%;
    float: right;
    max-height: 40px;
    align-self: flex-end
}

@media(min-width:651px){
    .THIS .signUp__button {
        width: 144px;
    }
}

.THIS .signUp__button.btn--darkblue {
    background-color: #0033AA;
    color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}

.THIS .signUp__button.btn--gray:hover,
.THIS .signUp__button.btn--gray:focus {
    background: #0089ff;
    color: #fff;
}

.THIS .signUp__button.btn--darkblue:hover,
.THIS .signUp__button.btn--darkblue:focus {
    background: #0069c4;
    color: #fff;
}

.THIS .IdSearch{
    display:flex;
    align-self: center;
}

.THIS .signUp__submitBtn {
    margin-top: 16px;
}

.THIS .slds-select_container::before,
.THIS .slds-select_container::after {
    display: none;
}

.THIS .size_24 {
    width: 24%;
    margin-right: 1%;
}

.THIS .size_75 {
    width: 75%;
}

.THIS .signUp__form--checkbox {
    position: relative;
}

.THIS .signUp__form--checkboxLabel {
    position: absolute;
    top: 0;
    left: 24px;
    color: #0A2240;
    font-size: 14px;
    line-height: 22px;
}

.THIS .signUp__industryContainer {
    position: relative;
}

.THIS .signUp__codeIcon,
.THIS .signUp__industryIcon {
    position: absolute;
    font-size: 20px;
    color: #CCCCCC;
}

.THIS .newCase__form--dialingCode .slds-select_container:after{
    left: 9.9rem;
    padding-bottom: 11px;
}

.THIS .slds-has-error .slds-form-element__help{
    max-width: 323px;
    font-weight: 300;
}

.THIS .signUp__genericError {
    font-size: .75rem;
    color: #e70011;
}

.THIS .signUp__form--error input,
.THIS .signUp__form--error select {
    border: 1px solid #e70011;
}

.THIS .personal{
    margin-top: 32px;
    margin-bottom: 24px;
}

.THIS .signUp__form--documentTypeGroup .slds-form-element__label{
    height: 1.13%;	 
    color: #4A4A4A;	
    font-family: BentonSans;	
    font-size: 14px !important;	
    font-weight: 300;	
    line-height: 18px;
}

.THIS .signUp__tnc{
    height: 23px;	
    color: #0A2240;	
    font-size: 14px;	
    line-height: 22px;	
    text-align: center;
    margin-bottom:48px;
    margin-left: 30px;
    padding-top: 20px;
    align-self: center;
    text-align: start;
}

@media(max-width: 650px){
    .THIS .signUp__tnc{
        margin: 0 0 48px 0;
        align-self: center;
        text-align: center;
        width: 90%;
    }
}

.THIS .signUp--tnc--link{
    color: #0089FF;
}

.THIS .left_bottomButton {
    margin-right: 5px;
}

.THIS .right_bottomButton{
    margin-left: 5px;
}

@media(max-width:651px){
    .THIS .left_bottomButton, .THIS .right_bottomButton{
        flex-grow: 1;
    }
    .THIS .left_bottomButton {
        padding-left: 15px;
    }
    
    .THIS .right_bottomButton{
        padding-right: 15px;
    }
}

.THIS .Padding--24{
    margin-top:24px;
}

.THIS .Padding{
    margin-top: 20px;
}

.THIS .align_center{
    align-self: center;
}

.THIS .workdetails_container{
    align-self: center;
    display: flex;
    flex-direction: column;
}

@media(max-width: 650px){
    .THIS .signUp__cellPhone--aligner {
        width: 90% !important;
    }
}

.THIS .buttons__container {
    display: flex;
    justify-content: flex-end;
    padding-top: 22px;
    padding-right: 15px;
}

@media(max-width: 650px){
    .THIS .buttons__container {
        width: 90% !important;
        padding-right: 0;
    }
}

.THIS .padding__bottom{
    padding-bottom: 48px;
    margin-top: 10px;
}

.THIS .padding__top_20{
    padding-top: 20px;
}

.THIS .padding__top_10{
    padding-top: 10px;
}

.THIS .signUp_container{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 15px;
}

@media(max-width: 650px){
    .THIS .signUp_container{
        width: 90%;
    }
}

.THIS .signUp__button_alone{
    width: 50%;
    float: right;
    max-height: 40px;
    align-self: flex-end
}

@media(min-width:651px){
    .THIS .signUp__button_alone {
        width: 144px;
    }
}

.THIS .remove_padding > div{
    padding-right: 0px;
}

.THIS .remove_padding > lightning-input{
    padding-left: 0px;
}

.THIS .signUp__details {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.THIS .password_info{
    padding-left: 15px;
    font-size: 15px;
    color: #767676;
}

.THIS .unfulfilled {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px;
    color: white;
    background-color: red;
}

.THIS .pass_feature {
    display: flex;
    font-size: 15px;
    color: black;
}

.THIS .unfulfilled::after,
.THIS .unfulfilled::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}

.THIS .unfulfilled::after {
    transform: rotate(-45deg)
}

.THIS .fulfilled {
    color: white;
    background-color: green;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px
}

.THIS .fulfilled::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-color: currentColor;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}