.accordionrow {
    margin-bottom: 20px; 
    box-shadow: 0 5px 15px 0 rgb(47 50 51 / 15%);
}
.accordion {
    background-color: #FFFFFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid #f3f3f4;
    padding-left: 2rem;
  }
  
  .accordion:after {
    content: '\005E';
    color: #0089ff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transform: rotate(180deg);
    transition: transform .3s ease-out;
  }
  
  .active:after {
    content: "\005E";
    color: #0089ff;
    transform: rotate(0deg);
    transition: transform .3s ease-out;
  }
  
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 20px;
    background-color: #f3f3f4;
  }
  .panelinner {
    padding: 20px; 
    background-color: #f3f3f4;
  }