/**
 * Created by Mykhailo Reznyk on 12.11.2019.
 */
.THIS .canvasWrapper {
    width: 100%;
    margin-bottom: 70px;
    position: relative;
}

.THIS .message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}