.component {
  margin-bottom: 2em;
}

@media screen and (min-width: 992px) {
  .component {
    margin-bottom: 4em;
  }
}

.component--inner-item {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .component--inner-item {
    margin-bottom: 0;
  }
}

.value-proposition .value-proposition__title {
  margin-bottom: 60px;
  margin-top: 60px;
  color: #0134a2;
  font-size: 27px;
}

@media screen and (min-width: 992px) {
  .value-proposition__title {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}

.value-proposition .col {
  padding: 0;
}

.value-proposition__row {
  padding: 0 1em;
}

.value-proposition--multirow .col:first-of-type {
  padding-left: 0;
}

.value-proposition--multirow .col:last-of-type {
  padding-right: 0;
}

.value-proposition--multirow .col .value-proposition-item {
  position: relative;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .value-proposition--multirow .col .value-proposition-item {
    padding: 4em 1.3em 4.6em;
    margin-top: 3.6em;
  }
}

@media screen and (min-width: 992px) {
  .value-proposition--multirow
    .col
    .value-proposition-item
    .value-proposition-item__shield {
    transform: translate(-50%, -40%);
  }
}

@media screen and (min-width: 992px) {
  .value-proposition--multirow .col:nth-of-type(n + 5) .value-proposition-item {
    padding-bottom: 1.82em;
    margin-top: 0;
  }
}

.value-proposition__header {
  position: relative;
  top: -2.6em;
  margin-bottom: 2.6em;
}

.value-proposition-item {
  padding: 0 2em;
  text-align: center;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

@media screen and (min-width: 992px) {
  .value-proposition-item {
    background: #fff;
    padding: 4em 1.3em 2em;
    margin-top: 4.6em;
  }
}

.value-proposition-item .title--white {
  color: #3c4b6c;
}

@media screen and (min-width: 992px) {
  .value-proposition-item .title--white {
    color: #fff;
  }
}

.value-proposition-item__description {
  display: none;
  margin-bottom: 1em;
  font-family: bentonsans-regular-webfont;
  color: #3c4b6c;
  font-size: 13px;
  line-height: 22px;
  max-width: 100%;
}

@media (min-width: 576px) {
  .value-proposition-item__description {
    font-size: calc(0.44643vw + 10.42857px);
  }
}

@media (min-width: 1024px) {
  .value-proposition-item__description {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .value-proposition-item__description {
    line-height: calc(0.66964vw + 18.14286px);
  }
}

@media (min-width: 1024px) {
  .value-proposition-item__description {
    line-height: 25px;
  }
}

@media screen and (min-width: 480px) {
  .value-proposition-item__description {
    display: block;
  }
}

.value-proposition-item__text-white {
  color: #3c4b6c;
}

@media screen and (min-width: 992px) {
  .value-proposition-item__text-white {
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .value-proposition-item--blue {
    background: #0033a1;
  }
}

@media screen and (min-width: 992px) {
  .value-proposition--white .value-proposition-item--blue {
    background: #0033a1;
  }
}

.value-proposition-item__shield {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 576px) {
  .value-proposition-item__shield {
    width: calc(11.16071vw - 14.28571px);
  }
}

@media (min-width: 1024px) {
  .value-proposition-item__shield {
    width: 100px;
  }
}

@media screen and (min-width: 992px) {
  .value-proposition-item__shield {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
  }
}

.value-proposition-item__shield-icon {
  width: 26px;
  height: auto;
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
  .value-proposition-item__shield-icon {
    width: calc(2.00893vw + 14.42857px);
  }
}
.value-proposition-item__shield-icon img {
  filter: brightness(0) invert(1); /*Use this to ensure our icons are always white*/
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .value-proposition-item__shield-icon img {
    width: 35px;
    height: 35px;
  }
}

.value-proposition-item__shield-icon ~ img {
  /*used to realign shield backing */
  margin-bottom: -0.75rem;
}

@media screen and (min-width: 480px) {
  .value-proposition-item__shield-icon ~ img {
    margin-bottom: -1rem;
  }
}

@media screen and (min-width: 768px) {
  .value-proposition-item__shield-icon ~ img {
    margin-bottom: -1.5rem;
  }
}

@media (min-width: 1024px) {
  .value-proposition-item__shield-icon {
    width: 35px;
  }
}

.value-proposition-item__shield-skew {
  width: 86px;
  height: 86px;
  object-fit: contain;
  box-shadow: 0 14px 23px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(121deg, #0033a1 0%, #1f59d8 100%);
  transform: skewX(-25deg);
  position: relative;
  z-index: 0;
  margin-bottom: 2em;
}

.value-proposition-item__shield-skew .value-proposition-item__shield-icon {
  transform: translate(-50%, -50%) skewX(25deg);
}

@media screen and (max-width: 767px) {
  .value-proposition-item__shield-skew {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .value-proposition-item__shield-skew {
    width: 58px;
    height: 58px;
    margin-bottom: 20px;
  }
}