.THIS {
    background-color: #D0021B;
    width: 100%;
    color: white;
    font-family: BentonSans;
    font-size: 15px;
    padding: 24px 20px;
    font-weight: 400;
}

.THIS strong{
    font-weight: bolder;
}

@media(min-width: 1366px) {
    .THIS {
        padding-left: 7%;
    }
}

@media(min-width: 1920px) {
    .THIS {
        padding-left: 20%;
    }
}
@media(max-width: 480px) {
    .THIS.mobile__banner-message {
        display: none;
    }
}