.THIS {

}

.THIS .error-btn{
    color: #0033AA;
}

@media(max-height: 500px) {
    .THIS.error-form {
        height: 15rem;
    }
}

.THIS .icon-format{
    color: #E70011;
    font-size: 48px;
}

.THIS .error-format{
    text-align: center;
    font-family: BentonSans;
    font-size: 14px;
    font-weight: 400;
    height: 25rem;
    padding-top: 110px;
}

.THIS .custom-background {
    background-color: white;
}

.THIS .icn svg{
    fill:#0033AA;
    height:14px;
    width:14px;
    margin-left: 5px;
    margin-top: 4px;
}

.THIS .QueryType{
    padding-top: 32px;
}

.THIS .contact-us {
	color: #0a2240;
    font-family: BentonSans;
    font-size: 57px;
    font-weight: 200;
    line-height: 57px;
    text-align: center;
    padding-bottom: 56px;
}

.THIS .containerDetails{
    position: relative;
    margin: 0 auto;
}

.THIS .slds-select {
    height: 48px;
    border-radius: 2px;
}

.THIS .newCase {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.THIS .newCase.newCase--optl {
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    margin-top: 75px;
}

.THIS .newCase__form {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.THIS .newCase__buttons {
    background-color: #F6F6F6;
}

.THIS .newCase__buttons-container {
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.THIS .newCase__buttons-container>div:nth-child(1) {
    padding-right: 6px;
}

.THIS .newCase__buttons-container>div:nth-child(2) {
    padding-left: 6px;
}

.THIS .newCase__title {
    color: #0A2240;
    font-size: 57px;
    font-weight: 200;
    line-height: 57px;
    text-align: center;
    margin-bottom: 8px;
    text-transform: none;
}

.THIS .newCase__subtitle {
    color: #666666;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.THIS .newCase__form--input--Add {
    margin-bottom: 24px;
}

.THIS .newCase__form--input input,
.THIS .newCase__form--input textArea {
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.THIS .newCase__form--input input[type=email]{
    border: 1px solid #F4F4F4;
    background-color: #FFFFFF;
}

.THIS .newCase__form--input input {
    height: 48px;
}

.THIS .newCase__form--input textArea {
    height: 120px;
}

.THIS .newCase__form--textarea {
    height: 144px;
}

.THIS .newCase__form--input label {
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 32px;
}

.THIS .newCase__form--input input::placeholder,
.THIS .newCase__form--input textArea::placeholder{
    color: rgb(118, 118, 118);
    font-weight: 200;
}

.THIS .newCase__button {
    width: 100%;
    float: right;
    background-color: #33AAFF
}

.THIS .newCase__link {
    color: #0089FF;
    text-decoration: underline;
    font-weight: 400;
}

.THIS .newCase__icon {
    padding: 16px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 24px;
    width:80px;
    height:80px;
}

.THIS .newCase__icon label{
    bottom:0;
    position: absolute;
    right:0px;
    float:right;
    background-color:#ffffff;
    height:24px;
    width:24px;
    border-radius:50%;
  	box-shadow: 0 6px 25px 0 rgba(0,0,0,0.1);
  	cursor: pointer;
}

.THIS .newCase__icon i {
    font-size: 48px;
    color: #fff;
}

.THIS .newCase--optl .newCase__title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.83px;
    line-height: 24px;
}



.THIS .newCase__header {
    height: 40px;
    background-color: #F6F6F6;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.58px;
    line-height: 14px;
    padding: 14px 24px;
    margin: 32px 0 24px 0;
}

.THIS abbr.slds-required {
    display: none;
}

.THIS .newCase__form--disclaimer{
    height: 22px;
    color: #0A2240;
    font-family: BentonSans;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: inherit;
}

.THIS .newCase__form--industryContainer{
    position: relative;
}

.THIS .newCase__form--industryIcon{
    position: absolute;
    font-size: 20px;
    color: #CCCCCC;
    right: 16px;
    top: 40px;
}

.THIS .newCase__form--dialingCodeIcon{
    position: absolute;
    font-size: 20px;
    color: #CCCCCC;
    right: 3px;
    top: 34px;
}

.THIS .newCase__form--industryContainer .slds-select_container::before{
    visibility: hidden;
}

.THIS .newCase__form--industryContainer .slds-select_container::after{
    right: .9rem;
    padding-bottom: 11px;
}

.THIS .newCase__form--dialingCode .slds-select_container::before{
    visibility: hidden;
}

.THIS .newCase__form--dialingCode .slds-select_container::after{
    bottom: 21.5px;
    right: 8px;
}

.THIS .newCase__form--dialingCode  .slds-select_container .slds-select{
    padding-right: 1.3rem;
}

.THIS .newCase__form--ID_number{
    height: 18px;
    color: #666666;
    font-family: BentonSans;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin-top: -14px;
    margin-bottom: 20px;
}

.THIS .newCase__form--documentTypeGroup .slds-form-element__label{
    height: 1.13%;

    color: #4A4A4A;
    font-family: BentonSans;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 18px;
}

.THIS .newCase__form--documentTypeGroup .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .newCase__form--documentTypeGroup .slds-form-element__legend{
    color: #4a4a4a;
    font-size: 16px !important;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
}

.THIS .newCase__form--documentTypeGroup .slds-form-element__control{
    padding-top : 10px;

}

.THIS .slds-radio__label{
    margin-right: 39px;
}


.THIS .newCase__form--label--span{
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
	top: 30px;
}

.THIS .rectangle {
	height: 40px;
    background-color: #f6f6f6;
    padding-bottom: 32px;
    margin-left: -24px;
}

.THIS .workDetailsRectange {
	height: 40px;
    background-color: #f6f6f6;
    padding-bottom: 32px;
    margin-left: -24px;
    margin-top:8px;
}

.THIS .customer-service-for {
	height: 13px;
	color: #222222;
	font-family: BentonSans;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.58px;
	padding-top: 10px;
    margin-left: 24px;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .customRadioCls{
	color: #4A4A4A;
	font-family: BentonSans;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}

.THIS .newCase__form--dialingCode{
    position: relative;
    display: inline-grid;
    padding-right: 8px;
}

.THIS .cellphone-container {
    flex-direction: column;
}

.THIS .cellphone-container .slds-form-element__label {
    display: none;
}
.THIS .cellphone-container>div {
    display: inline-flex;
}

.THIS .newCase__success {
    display: flex;
    align-items: center;
    border: 1px solid #0e8a00;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    width: 44%;
    min-height: 10px;
    flex-direction: initial;
    margin-left: 15%;
    top: 9%;
    z-index: 1;
}

.THIS .newCase__success__left {
    padding: 13px 16px;
    background: #0e8a00;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.THIS .newCase__success__icon {
    font-size: 24px;
    color: #fff;
}

.THIS .newCase__success__right {
    padding: 0 18px 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 51px;
}

.THIS .newCase__success__text {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: 14px;
    margin-right: 18px;
}

.THIS .newCase__success__close {
    background: transparent;
}

.THIS .newCase__success__close i {
    color: #767670;
}

@media(max-width: 480px) {
    .THIS .cellphone-container .CellSection {
        padding-left: 8px;
    }

    .THIS .cellphone-container .CellSection .slds-input {
        padding-right: 0.5rem;
    }

    .THIS .CellSection {
        padding-right: 0 !important;
    }
}

@media(max-width: 767px) {
    .THIS .newCase__buttons-container {
        justify-content: center;
        padding-left: 24px;
        padding-right: 24px;
    }

    .THIS .newCase__form {
        padding: 40px 24px;
    }
}

@media(max-width: 1023px) {
    .THIS .rectangle {
        margin-left: -16px;
        margin-right: -16px;
    }

    .THIS .cellphone-container .CellSection {
        padding-left: 8px;
    }
    
    .THIS .newCase.newCase--optl {
        margin-top: -36px;
    }
}

@media(min-width: 1024px) {
    .THIS .rectangle {
        margin-left: -24px;
        margin-right: -24px;
    }

   .THIS .cellphone-container .CellSection {
        padding-left: 4px;
    }
}

@media(max-width: 1279px) {
    .THIS.newCase-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 1024px) and (max-width: 1279px) {
    .THIS .newCase {
        width: 100%;
    }
}

@media(min-width: 1280px) {
    .THIS .newCase.newCase--optl {
        margin-top: 120px;
        width: 1008px;

    }
}