.sectionTitle {
    border-width: 0px;
    position: absolute;
    text-align: center;
    width: 694px;
    height: 62px;
    display: flex;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #858D9D;
    line-height: 32px;
}