.hero-banner-item__content-holder {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-banner-item__title {
  color: #fff !important;
}

.hero-banner--white .hero-banner-item__title {
  color: #0a2240 !important;
}

.hero-banner-item__description {
  color: #fff;
  margin: 15px 0 0 0;
}

.hero-banner--white .hero-banner-item__description {
  color: #0a2240;
}

.hero-banner-item__button {
  margin-top: 20px;
}

.hero-banner-item-col__content {
  max-width: 100%;
}

.hero-banner-item-col__content-background {
  width: 100% !important;
  position: unset;
}

.hero-banner--white .hero-banner-item-col__content-background {
  min-height: 100%;
  background: var(--white-color, #fff);
}

.hero-banner-item-col__content-text {
  position: unset !important;
  padding-top: 30px;
  padding-bottom: 30px;
  transform: none !important;
}



.hero-banner-item-col__title {
  color: var(--white-color, #fff) !important;
}

.hero-banner--white .hero-banner-item-col__title {
  color: var(--stature-blue, #0a2240) !important;
}

.hero-banner-item-col__description {
  color: var(--white-color, #fff);
  margin: 15px 0 0;
  font-size: 16px;
}

.hero-banner--white .hero-banner-item-col__description {
  color: var(--stature-blue, #0a2240);
}

.hero-banner-item-col__button {
  margin-top: 20px;
}

.hero-banner-item-col__row {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}


@media screen and (min-width: 768px) {
  .hero-banner-item__content-holder {
    padding: 0;
    min-height: 365px;
  }

  .hero-banner-item-col__content-background {
    background: #1f59d8;
    background: -moz-linear-gradient(-45deg, #0033a1 0%, #1f59d8 100%);
    background: -webkit-linear-gradient(-45deg, #0033a1 0%, #1f59d8 100%);
    background: linear-gradient(135deg, #0033a1 0%, #1f59d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0033a1,endColorstr=#1f59d8);
  }

  .hero-banner-item-col__content-text {
    max-width: 500px;
    padding: 50px 50px;
    margin-left: auto;
  }
}


@media screen and (min-width: 1024px) {
  .hero-banner-item-col__button {
    margin-top: 30px;
  }
  .hero-banner-item__button {
    margin-top: 30px;
  }
  .hero-banner-item-col__content-text {
    padding: 80px 50px;
  }
}