.THIS {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.09);
    padding: 24px;
    background-color: #FFFFFF;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    font-family: BentonSans;
    align-items: center;
}

.THIS .apiProductsItem__title {
    color: #0089FF;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    line-height: 36px;
}

.THIS .apiProductsItem__content {
    color: #999999;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: auto;
}

.THIS .apiProductsItem__link a {
    display: flex;
    align-items: center;
}

.THIS .apiProductsItem__link--icon {
    margin-left: 8px;
}