.midTitle{
    color: #0A2240;
    font-size: 42px;
    letter-spacing: 0;
    line-height: 57px;
    font-weight: 100;
    text-align: left;
}

.tile{
    padding:inherit;
    padding: 0px 65px 0px 15px;
}

.icons-content{
    display: contents;
    text-align: center;
}

.mainDescription{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.subDescription{
    font-size: 15px;
    line-height: 20px;
}

.teaser {
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width: 1280px) {
    .teaser {
        width: 66.667%;
    }
}

@media(max-width: 1023px) {
    .teaser {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teaser__image {
        display: none;
    }
}

@media(max-width: 620px){
    .adjust-image{
        padding-top:20px;
    }
    .midTitle{
        text-align: center;
    }
}