.THIS .container {
    background-color: #F2F3F4;   
}

.THIS .row {
    background-color: #F2F3F4;
    padding: 0px 150px 0px 150px;
}

.THIS .last-row {
    background-color: #F2F3F4;
    padding-bottom: 230px;
}



@media(max-width: 1024px) {
    .THIS .row{
        padding: 0px 30px 0px 30px;
    }
    .THIS .last-row {
        padding-bottom: 200px;
    }
}