.THIS .scrollerSize {
    height: inherit;
}

.THIS {
    height: inherit;
}

.THIS .mobile_card_container {
    margin-top: 12px;
    padding-bottom: 12px;
    margin-left: 4px;
}

.THIS .mobile_card_container > h2 {
    display: inline;
    padding-left: 10px;
}

.THIS ul.slds-tabs_default__nav {
    text-align: center;
}

.THIS li.slds-tabs_default__item {
    width: 50%;
}

.THIS .slds-tabs_default {
    background-color: transparent;
}

.THIS .mobile_card_container {
    background-color: white;
}

.THIS .slds-tabs__nav-scroller {
    background-color: white;
}

.THIS .insights_header {
    background-color: white;
}

.THIS .negative_top_margin {
    margin-top:-35px;
}

.THIS .max_height {
    height: 100%;
}

.THIS .height_50 {
    height: 50%;
}
.THIS .height_1-of-3 {
    height: 33.3%;
}