.THIS {
    padding: 72px 0;
}

.THIS .loginError {
    background: #fff;
    padding: 40px 40px;
    width: 500px;
    margin: 194px auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 6px 25px 0 rgba(0,0,0,0.1);
}

.THIS .loginError__form {
    display: flex;
    flex-direction: column;
}

.THIS .loginError__title {
    margin-top: 8px;
    color: #0A2240;
    font-size: 26px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 16px;
    font-family: BentonSans;
}

.THIS .loginError__subtitle {
    color: #0A2240;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}



.THIS .loginError__button {
    width: 420px;
    float: right;
}

.THIS .loginError--optl .loginError__title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.83px;
    line-height: 24px;
}

.THIS abbr.slds-required {
    display: none;
}



.THIS .loginError__submitBtn {
    margin-top: 24px;
    align-self: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.THIS .loginError__link{
    color: #0089FF;
}