.THIS .revenue_card{

    border:1px solid rgb(217,219,221);
}

.THIS {
    background-color:#ffffff;

}
.THIS .second_level_padding > div > div {
    padding-left: 2.5rem;

}
.THIS {
  height: inherit;
}

.THIS .scrollerSize {
  height: inherit;
}