.wrapper {
  width: 100%;
  padding-bottom: 62px;
}
.lds-inner-content {
  margin-right: 135px;
  margin-left: 135px;
  display: inline-block;
}
.learn-more-card {
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 0 10px;
  border-radius: 2px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background-color: #FFFFFF;
  height: 413px;
  max-width: 1000px;
}
.thought-leadership-card {
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 0 10px;
  border-radius: 2px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background-color: #FFFFFF;
  height: 387.35px;
  width: auto;
}
.solutions-background {
  height: auto;
  width: 100% !important;
  background-color: #FFFFFF;
}
.slds-rich-text-editor_output img{
  width: 100%;
}
.Read-more{
  height: 23px; 
  color: #0089FF;
  font-family: BentonSans;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
   width: 116px; 
}
.imageLd {
  width: 100%;
}
.learn-more-about-our {
  height: 27px;
  color: #0A2240;
  font-family: BentonSans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 27px;
}
.thought-leadership {
  height: 27px;
  color: #0A2240;
  font-family: BentonSans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 27px;
}
.leadership-header {
  padding-top: 30px;
  margin-bottom: 30px;
  display: block;
}
.leadership-img {

  width: 100%;
  display: block;
  object-fit: cover ! important ; 
}
.imageComing{
    width: 100%;
    object-fit: cover ! important ;   
}
.leadership-title {
  height: 25px;
  display: inline-block;
  padding-bottom: 50px;
}
.solution-header {
  margin-bottom: 30px;
  padding-top: 30px;
}
.solution-title {
  height: 25px;
  max-width: 260px;
  color: #3C4B6C;
  font-family: BentonSans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  padding: 0px 0px 32px 0px;
  display: inline-block;
}
.leadership-title-text {
  height: 30px;
  color: #3C4B6C;
  font-family: BentonSans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 16px;
}
.lightning-formatted-rich-text {
  object-fit: cover;
}
.card-text {
  height: 78.05px; 
  color: #0A2240;
  font-family: BentonSans;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 16px;  
}
.intro-container {
  padding: 0px 16px 45px 0px;
  display: inline-block;
}
.links-container {
padding: 0px 0px 25px 0px;
  display: inline-block;
}
.inner-content {
  margin-left: 16px;
}
.card-image {
  margin-bottom: 16px; 
}
.lds-intro-container {
  padding-bottom: 25px;
  display: inline-block;
}
.intro {
  height: 78px;
  color: #0A2240;
  font-family: BentonSans;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0; 
}
.ReadMoreArrow{
    padding-left: 10px;   
    vertical-align: baseline;
}
.container {
  display: grid;
}
.learn-more {
  height: 23px; 
  color: #0089FF;
  font-family: BentonSans;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
}
.listen-to-podcasts {
  height: 23px;
  max-width: 264px;
  color: #0089FF;
  font-family: BentonSans;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
}
.tile-padding-right {
  padding-right: 0.75rem;
}
.watch-video {
  height: 23px;
  max-width: 264px;
  color: #0089FF;
  font-family: BentonSans;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .lds-inner-content {
    margin-right: 20px;
    margin-left: 20px;
  }
  .tile-padding-right {
    padding-right: 0px;
  }
 .learn-more-card{   
    height: 400px;   
  }
  .thought-leadership-card {  
    height: auto;
  }
  .leadership-title-text {
    font-size: 16px;
    line-height: 18px;
  }
  .intro-container {
    padding-bottom: 0px;
  }
  .lds-intro-container {
    padding-bottom: 20px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .learn-more-card {
    max-height: 400px;
    max-width: 600px;
  }
  .lds-inner-content {
    width: 93%;
    margin-left: 34px;
    height: auto;
  }
  .leadership-title-text {
    font-size: 16px;
    line-height: 18px;
  }
  .leadership-title {
    padding-bottom: 0px;
  }
  .lds-intro-container {
    padding-bottom: 37px;
  }
  .intro-container {
    padding-bottom: 48px;
    display: inline-block;
  }
  .rich-text-editor__output {
    height: 500px;
  }
.thought-leadership-card {   
    height: 317px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .intro-container {
    padding-bottom: 83px;
    display: inline-block;
  }  
.lds-intro-container {
  padding-bottom: 58px;
  display: inline-block;
  }
}