.THIS .noApiProductsAssociatedWithThisApi{
    text-align: center;
    color: #0A7299;
    font-size: 1.1875rem;
}
.THIS .customPadding {
    margin-left: -20px;
    margin-right: -20px;
    clear: both;
}