.aob_datalist {
    position: absolute;
    display: none;
    background-color: lightgrey;
    font-family: sans-serif;
    font-size: 0.8rem;
    border: 2px solid rgb(211, 211, 211);
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

li {
    background-color: white;
    padding: 4px;
    margin-bottom: 1px;
    white-space: normal;
    cursor: pointer;
}

.ms-dropdown {
    max-height: 500px;
    overflow-y: auto;
  }
  .ms-clear-icon {
    position: absolute;
  }
  .ms-refresh-icon {
    position: absolute;
  }
  .ms-input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    border-radius: 0.25rem;
    width: 100%;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
  }
  .ms-filter-input {
    margin: 0px 5%;
    width: 50%;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    padding: 2px 5px;
  }
  
  .disabled {
    pointer-events:none;
    opacity:0.6;       
}