.horizontal-buttons-item {
  padding: 15px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}


.title--module-sub-title{
  padding-bottom: 15px;
}

.horizontal-button-container{
    display: block;
    margin: 2rem 0rem 0.5rem 0rem;
    text-transform: uppercase;
}
.horizontal-button-container button{
    width: 100%;
}

/*@media screen and (min-width: 992px) {
   .horizontal-buttons-item {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
  } */
  /* .horizontal-buttons-item:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
  } 
}*/


.horizontal-spacing{
 padding-top: 2%;
}


@media screen and (min-width: 768px) {
  .horizontal-buttons-item {
    padding: 30px 20px;
    
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
}
@media screen and (min-width: 768px) {
  .horizontal-buttons-item {
    text-align: left;
    padding: 30px;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .horizontal-buttons--box-detail .horizontal-buttons-item {
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}


@media screen and (min-width: 900px) {

  .horizontal-button-container{
      width: calc(100% - 2rem);
      flex: 1 0 15rem;
      margin: 2rem 1rem 0.5rem 3rem;
  }
}

.horizontal-buttons-item__icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}
@media (min-width: 576px) {
  .horizontal-buttons-item__icon {
    width: calc(2.0089285714vw + 14.4285714286px);
  }
}
@media (min-width: 1024px) {
  .horizontal-buttons-item__icon {
    width: 35px;
  }
}
@media (min-width: 576px) {
  .horizontal-buttons-item__icon {
    height: calc(2.0089285714vw + 14.4285714286px);
  }
}
@media (min-width: 1024px) {
  .horizontal-buttons-item__icon {
    height: 35px;
  }
}
@media screen and (min-width: 768px) {
  .horizontal-buttons-item__icon {
    margin: 0 auto 15px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.horizontal-buttons-item__icon {
  margin: 0 15px 0 0;
}
@media screen and (min-width: 768px) {
  .horizontal-buttons-item__icon {
    margin-right: 30px;
  }
}
.horizontal-buttons-item__icon--illustration {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}
@media (min-width: 576px) {
  .horizontal-buttons-item__icon--illustration {
    width: calc(27.6785714286vw - 133.4285714286px);
  }
}
@media (min-width: 1024px) {
  .horizontal-buttons-item__icon--illustration {
    width: 150px;
  }
}
@media (min-width: 576px) {
  .horizontal-buttons-item__icon--illustration {
    height: calc(27.6785714286vw - 133.4285714286px);
  }
}
@media (min-width: 1024px) {
  .horizontal-buttons-item__icon--illustration {
    height: 150px;
  }
}
@media screen and (min-width: 768px) {
  .horizontal-buttons-item__icon--illustration {
    margin: 0 auto 15px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.horizontal-buttons-item__icon--illustration {
  margin: 0 15px 0 0;
}
@media screen and (min-width: 768px) {
  .horizontal-buttons-item__icon--illustration {
    margin-right: 30px;
  }
}
.horizontal-buttons-item__icon--illustration .icon {
  width: 100%;
  height: 100%;
}
.horizontal-buttons-item__icon--illustration .icon svg {
  width: 100%;
  height: 100%;
}
.horizontal-buttons-item__inner {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}


@media screen and (min-width: 768px) {
  .horizontal-buttons--box-detail .horizontal-buttons-item__inner {
    margin-top: -50px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
  }
}
.horizontal-buttons-item__detail {
  width: 80%;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

@media screen and (max-width: 600px) {
  .horizontal-buttons-item__detail {
    /* padding-right: 1.5rem; */
    padding-left: 16px;
  }

  .textfont-size{
    font-size: 10.5px;
  }

  .horizontal-buttons-item__icon{
    margin: 0 8px 0 0;
    margin-left: 0.5rem;
  }

  .horizontal-spacing{
    padding-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .horizontal-buttons-item__detail {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box: 1;
    -moz-box: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-right: 1.5rem; /*25-5-22*/
  }
}
@media screen and (min-width: 768px) {
  .horizontal-buttons--box-detail .horizontal-buttons-item__detail {
    width: 100%;
    position: relative;
    height: 0;
  }
}
.horizontal-buttons-item__title {
  margin: 0;
  display: block;
  font-weight: normal;
}
.horizontal-buttons-item__copy {
  margin-bottom: 0;
  font-weight: normal;
}
.horizontal-buttons--text .horizontal-buttons-item__copy {
  display: none;
}
.horizontal-buttons-item__cta {
  display: none;
}
@media screen and (min-width: 768px) {
  .horizontal-buttons-item__cta {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 768px) {   /*25-5-22*/
    .horizontal-button-container {
      width: 40%;
    }
  }                                       /*25-5-22*/
}