/*.{
    font-family: 'proximanova' !important;
    margin-top: -48px !important;
    position: absolute;
    left: 0px;
}*/


.splashBanner-container{
  padding-top: -32px !important;
}

.btn{
  display: block;
  height: 50px;
  padding: 18px 18px;
  border: 0;
  font: #DAE151;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 13px;
  text-align: center;
  transition: all .15s ease-in;
  cursor: pointer;
  color: #000524;
}

.tm_Class{
  font-weight: normal;
  font-size: 26px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 45px;
  padding-right:10px;
}

.topTitle{
  
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  width: 193px;
  height: 35px;
}
.SubContent1{
  color: #0A2240;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  font-weight: 800;
  overflow: hidden;
  font:ChronicaPro-Bold;
}


.SubContent{
  color: #0A2240;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  overflow: hidden;
}

.mainDescription{
font-weight: 500;
font-size: 15px;
line-height: 20px;

}

.splashContent{
padding-left: 10%;
margin-left: 18%;
}
.heresWhatYouGet{
  padding-left: 5%;
  width:90%;
}

.subDescription{
font-size: 15px;
line-height: 20px;
}

.splashBanner-secondSec{
margin-bottom: 50px;
margin-left: 144px;
}

.tile{
padding:inherit;
}

.midTitle{
  color:#000524;
  font-size: 45px;
  font:ChronicaPro-Black;
  letter-spacing: 0;
  line-height: 57px;
  font-weight: 900;
  text-align: center;
}

.splashBannerOSB{
  margin-left: 11%;
}
.cardTitle{
  color:#000524;
  height: 40px;
  width: 360px;
  font-size: 41px;
  font:ChronicaPro-Black-Bold;
  letter-spacing: 0;
  line-height: 70px;
  font-weight: 900;
  text-align: left;
  margin-left: 16%;
}
.cardParagraph{
  color: #000524;
  font:ChronicaPro-Book;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  text-align: left;
  margin-left: 16%;
}
.cardParagraphHowWeDoIt{
  color: #000524;
  font:SF NS Display Regular;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  flex: 1;
  text-align: left;
  overflow: hidden;
}
.cardParagraphHowWeDoItSub{
  
  color: #000524;
  text-align: left;
  font: ChronicaPro-Book;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 24px;
  flex: 1;
  font-weight: 250;
  overflow: hidden;
}

.title{
  color: #121DFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 43px;
  background-color: #FFFFFF;
}

.subContent{
  color: #FBF2E8;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 25px;
  width:550px;
  font: ChronicaPro-Bold;
}

.LogoSubContent{
  color: #FBF2E8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  padding-right: 5px;
}

.mainContent{
  color: #FBF2E8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  width:500px;
  line-height: 25px;
  font:ChronicaPro;
}

.midSection{
background-color: #F1F1F1;
}


.icons-content{
  display: contents;
  text-align: center;
}
.endTitle{
color: #0A2240;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 44px;
  font-weight: 400;
  max-width: 889px;
  text-align: center;
}

.Image-content{
  float:right;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;  
  background-color: #121DFF; 
  color: #FFFFFF;
  padding: 8px 15px 8px 15px;
}
.firstSection{
  background-color:#DAE151;
  height:420px;
}
.howTogetStarted{
  
  font-size: 30px;
  font:SF NS Display Regular;
  line-height: 43px;
  color: #000524;

}
@media(min-width:360px){
  .firstSection{
    /*min-height:350px !important;*/
    min-height: 400px !important;
 
}
}

@media(min-width:360px){
  .aboutFrm {
    min-height:406px !important;
    background-color:#A4C8DC;
  
   
 
}
}

.video{
  
  height: 20%;
}

@media(min-width:360px){
  .video {
    min-height:350px !important;
   
 
}
}



.video-section{
  width:100%;
}

.Image{
  float:left;
  min-height:400px !important;
}

.Image-title{
  color: #121DFF;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom:80px;
  text-align: center;
}

.sign-up-content{
  color: #FFFFFF;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 43px;
  text-align: center;
  width:100%;
}
.box{
display:inline-flex; 
}

.signUpBtn{
  margin-bottom:70px !important;
}

@media(min-width:1280px){
    .Image {
      min-height:400px !important;
  }
}

@media(min-width:1280px){
    .video{
      min-height:700px !important; 
  }
}


@media(max-width:960px){
    
    .splashContent{
      width:100% !important;
      padding-left: 0;
      
  }
    .SubContent{
      width:100%;
  }
    .Image-content{
      width:100%;
      max-height: 480px;
  }
    .ThridSection{
      flex-wrap: wrap;
  }
    .Image{
      min-width: 100% !important;
      min-height:150px !important;
  }
  
    .Image-self{
      width:100%;
      padding: 10px 10px 10px 10px;
  }
  
    .video{
      width:100%;
  }

  
    .signUpBtn{
      width:80%;
  }
  .splashBanner-secondSec{
    margin-bottom: 0;
    margin-left: 0;
}
}

.splashBanner{
  letter-spacing:20px;
  
}

.splashBanner__button{
  float:left;
  margin-bottom: 110px;
  color: #DAE151;
  background-color: #000524;
  border: solid;
  width: 200px;
  height:70px;
  line-height: 28px;
  font-weight: 500;
}

.splashBanner__button_signUp{
  background-color: #000524;
  border: solid;
  height:70px;
  text-align: center;
  color: #DAE151;
  width: 200px;
  float:left;
  margin-bottom: 110px;
  font-weight: 500;
}


.sec-heading{
  font-weight: bold;
}

.list-section{
 margin-left:5em; 
}



.rectangle-black {
  height: 38px;
  background-color: #000000;
  display:block;
  position: absolute;
  top: 82px;
  right:0px;
}

.rectangle-turquoise {
  height: 38px;
  background-color: #00D0D4;
  display:block;
  position: absolute;
  top: 120px;
  right:0px;
}

.titleLogo{
  color: #121DFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 43px;
  background-color: #FFFFFF;
}

.titleLogoR{
 color: #121DFF;
  letter-spacing: 0;
  line-height: 26px;
  background-color: #FFFFFF;
  font-size: 20px;
  padding-right: 5px;
}

.titleClass{
  display:flex;
  color:#FFFFFF;
}

.sign-up-section{
  height: 298px;
  display:relative;
}

.signUpBtn{
  display:block;
  border-radius:0px !important;
}

.btnSection{
  width: -webkit-fill-available;
}
.left-list{
font-size: 15px;
line-height: 20px;
text-align: end;

}
.right-list{
font-size: 15px;
line-height: 20px;
text-align: left;

}

.Register{
font-size: 36px;
letter-spacing: 0;
line-height: 44px;
font-weight: bold;
}

.LogoImageSection{
display:inline-flex;
  /*position: absolute;*/
  top: 0;
  right:0;
}

.footerImage{
  float:right;
}

.btn-Logo{
  display:inline-block;
}
@media(max-width:600px){
.desktopImage{
  display:none;
}

.left-list{
  font-size: 15px;
  line-height: 20px;
  text-align: left;

 }
 .right-list{
  font-size: 15px;
  line-height: 20px;
  text-align: left;

 }
 .list{
   margin-left:10%
 }

}

.lgc-bg {
  background-color: rgb(242, 242, 242);
  margin-top: 5%;
  width: 270px;
  height: 270px;
  margin-left: 15%;
  margin-bottom: 8%;
}

.lgc-bg-inverse {
  background-color: rgb(22, 50, 92);
}