@import 'c/ppCssLibrary';

.container {
    padding: 24px;
    text-align: left;
    background-color: #ffffff;
}

.featured-image {
    margin: 0 0 20px;
    border-radius: 8px;
}

.articleImg{
    border-radius: 4px;
    width: -webkit-fill-available;
    width: -moz-available;     
    max-height: 320px;
    object-fit: cover;
}

.heading {
    color: #021237;
    margin-bottom: 24px;
    font-size: 16px;
}

.text {
    color: #6a7286;
    padding-bottom: 8px;
}

.title {
    padding-bottom: 12px;
    color: #1c263c;
}

.summary {
    height: 40px;
    font-size: 14px;
    color: #6a7286;
    font-weight: normal;
    letter-spacing: 0.03px;
    line-height: 1.43;
    margin-bottom: 24px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.publish-date {
    font-weight: 500;
    color: #6a7286;
}

.view-details {
    font-size: 13px;
    font-weight: 600;
    color: #0089ff;
}

.line {
    height: 1px;
    background-color: #e6eaf3;
    margin-top : 20px;
}