.THIS {
    color: #0089FF;
}

.THIS .marketgram__title {
    color: #0A2240;
    font-size: 47px;
    font-weight: 200;
    line-height: 47px;
}

.THIS .marketgram__products {
    background-color: #fff;
    padding: 24px 24px 0;
    width: 1192px;
    max-width: 100%;
}

.THIS .marketgram__tabs {
    margin-top: -13px;
}

.THIS .slds-tabs_default__content {
    padding-bottom: 0;
}

.THIS .marketgram__underline:last-of-type {
    border-bottom: 2px solid #fff;
}


.THIS .slds-tabs_default__item.slds-is-active::after {
    height: 2px;
    background-color: #0089FF;
}

.THIS .slds-tabs_default__item.slds-is-active>.slds-tabs_default__link,
.THIS .slds-tabs_default__link {
    color: #0089FF;
    font-size: 14px;
    font-weight: 400;
}


.THIS .slds-tabs_default__item.slds-is-active>.slds-tabs_default__link {
    font-weight: 500;
}

.THIS .slds-tabs_default__nav,
.THIS .marketgram__underline {
    border-bottom: 2px solid #EDEDED;
}

.THIS .slds-tabs_default__link[tabindex="0"]:focus {
    text-decoration: none
}

.THIS .slds-tabs_default__nav {
    position: sticky;
    z-index: 19;
    background-color: #fff;
    top: 139px;
}

.THIS .slds-tabs_default__nav:after,
.THIS .slds-tabs_default__nav:before {
    content: '';
    position: absolute;
}

.THIS .slds-tabs_default__nav:before {
    top: -39px;
    left: -28px;
    background-color: #f6f6f6;
    height: 28px;
    width: 110%;
}

.THIS .slds-tabs_default__nav:after {
    top: -11px;
    background-color: #fff;
    height: 24px;
    width: 100%;
}

@media(max-width: 480px) {
    .THIS .slds-tabs_default__nav:before {
        width: 120%;
    }
}

@media(max-width: 1280px) {
    .THIS .slds-tabs_default__nav {
        top: 98px;
    }
}