.THIS {
}
.THIS .slds-text-heading_small, .THIS .slds-text-heading--small {
    text-transform:uppercase;
    width:100%;
    background-color: #e2e2e2;
    padding: 10px;
    border: 0;    
}

.THIS .slds-text-align_center, .THIS .slds-text-align--center {
    font-family: BentonSans;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: normal;
    color: #1a1a1a;
    border: 0;    
}