/**
  * Created by mjaznicki on 07.06.2019.
  */

 .THIS {
 }

 .THIS.scrollerSize {
     height: 150vh;
     width: 101vh;
     border-radius: 1px;
     overflow-y: auto;
 }

 .THIS .innerDivWrapper {
     min-height: 120%;
     padding-bottom: 20px;
 }